.banner_wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.banner {
    /* width: 2000px; */
    /* height: 900px; */
    width: 205vh;
    height: 90vh;
    overflow: hidden;
}
.banner_ul {
    display: flex;
    list-style: none;
    width: 1020vh;
    height: 90vh;
}
@keyframes bannerAni1 {
    0%,
    15% {
        transform: translateX(0);
    }
    25%,
    40% {
        transform: translateX(-205vh);
    }
    50%,
    65% {
        transform: translateX(-410vh);
    }
    75%,
    90% {
        transform: translateX(-615vh);
    }
    100% {
        transform: translateX(0);
    }
}
.banner_li {
    cursor: default;
    padding: 0;
}
.banner_li:hover {
    background: none;
}
.banner_img {
    animation: bannerAni1 20s infinite;
    animation-fill-mode: forwards;
    position: relative;
}
.banner_img img {
    width: 205vh;
    height: 90vh;
}
