.banner_wrap {
    display: flex;
    justify-content: center;
    width: 100%;
}
.banner {
    width: 2000px;
    height: 900px;
    overflow: hidden;
}
.banner_ul {
    display: flex;
    list-style: none;
    width: 10000px;
    height: 900px;
}
@keyframes bannerAni1 {
    0%,
    15% {
        transform: translateX(0);
    }
    25%,
    40% {
        transform: translateX(-2000px);
    }
    50%,
    65% {
        transform: translateX(-4000px);
    }
    75%,
    90% {
        transform: translateX(-6000px);
    }
    100% {
        transform: translateX(0);
    }
}
.banner_li {
    cursor: default;
    padding: 0;
}
.banner_li:hover {
    background: none;
}
.banner_img {
    animation: bannerAni1 20s infinite;
    animation-fill-mode: forwards;
    position: relative;
}
.banner_img img {
    width: 2000px;
    height: 900px;
}
.banner_p {
    position: relative;
    text-align: right;
    right: 280px;
    bottom: 200px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 65px;
}
.title {
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
}
.title2 {
    text-align: center;
    padding-top: 20px;
    font-size: 19px;
    padding-bottom: 200px;
}
