.name_tag {
    padding: 14vh 0 6vh 68vh;
    color: white;
    font-weight: bold;
    background-color: rgb(75, 55, 55);
    font-size: 9vh;
    cursor: default;
}

.profile_img {
    position: absolute;
    z-index: 200;
    width: 37.5vh;
    height: 48vh;
    /* width: 375px;
    height: 480px; */
    border: 1px solid black;
    top: 6vh;
    left: 14%;
}

.info_box {
    margin-top: 2%;
    padding-left: 39%;
}

.profile_info_wrap {
    display: flex;
    align-items: center;
    margin: 2.2vh 0;
}

.profile_icon {
    width: 3.5vh;
    height: 3.5vh;
}

.profile_info_txt {
    margin-left: 2vh;
    font-size: 2vh;
    cursor: default;
}

.file_box {
    position: absolute;
    right: 10%;
    top: 38vh;
    border: 0.25vh solid black;
    border-radius: 5px;
    padding: 1.4vh 3vh 1.4vh 2vh;
    list-style: none;
    background-color: white;
}

.file_list {
    display: flex;
    align-items: center;
    gap: 1vh;
    margin: 1.2vh 0;
    font-size: 1.6vh;
}

.file_txt {
    text-decoration: none;
    color: black;
}

.file_txt:hover {
    text-decoration: underline;
}

.box_wrap {
    margin: 13vh 0 0 25vh;
}

.title {
    margin-left: 2vh;
    font-size: 4vh;
    font-weight: 400;
    cursor: default;
}

.line {
    margin: 1.5vh 0;
    width: 70%;
    border: 0.1vh solid black;
}

.edu_box {
    display: flex;
    list-style: none;
    gap: 5vh;
}

.edu_list {
    text-align: center;
    padding: 6vh;
    padding-bottom: 0;
}

.edu_years,
.edu_txt {
    font-size: 2.5vh;
    cursor: default;
}

.edu_txt {
    margin-top: 2vh;
}

.skill_box_wrap {
    margin: 6vh 0 12vh 0;
    display: flex;
    gap: 7vh;
}

.skill_box {
    border: 2px solid black;
    border-radius: 10%;
    padding: 2vh 3vh;
    width: 20vh;
    height: 25vh;
    cursor: default;
}

.skill_title {
    font-size: 2.6vh;
}

.skills_wrap {
    margin-top: 2vh;
    margin-left: 1vh;
}

.skill_list {
    margin: 1vh 0;
    font-weight: 500;
}
