.navbar {
    position: absolute;
    left: 25%;
}

.li_wrap {
    display: flex;
    list-style: none;
}

.li_wrap li {
    cursor: pointer;
    padding: 22px 20px;
    transition: background-color 0.5s ease-in-out;
}

.li_wrap li:hover {
    background-color: rgb(218, 192, 192);
}

.link {
    text-decoration: none;
    color: gray;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 0px 18px;
}

.link2 {
    text-decoration: none;
    color: gray;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 18px;
}
