.navbar {
    position: absolute;
    left: 30%;
}

.li_wrap {
    display: flex;
    list-style: none;
}

.li_wrap li {
    cursor: pointer;
    padding: 22px 20px;
    transition: background-color 0.3s ease-in-out;
}

.li_wrap li:hover {
    background-color: lightcoral;
}

.link {
    text-decoration: none;
    color: gray;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 0px 18px;
}
